{deps_dir, ["../../deps"]}.
{lib_dirs, ["../../apps"]}.
{deps, [{kvs,".*",  {git, "git://github.com/synrc/kvs",{tag, "master"}}},
        {n2o,".*",  {git, "git://github.com/synrc/n3o",{tag, "master"}}},
        {erlydtl,".*", {git, "git://github.com/evanmiller/erlydtl", {tag, "0.8.0"}  }},
        {nitro,".*",{git, "git://github.com/synrc/nitro",{tag, "master"} }}]}.
{erlydtl_opts, [
    {doc_root,   "."},
    {out_dir,    "ebin"},
   {compiler_options, [report, return, debug_info]},
    {source_ext, ".html"},
    {module_ext, "_view"}
]}.
