{deps, [{kvs,    ".*", {git, "git://github.com/synrc/kvs",    []}},
        {n2o,    ".*", {git, "git://github.com/synrc/n2o",   []}},
        {active, ".*", {git, "git://github.com/synrc/active", []}},
        {emqttd, ".*", {git, "git://github.com/synrc/emqttd", []}},
        {emq_dashboard, ".*", {git, "git://github.com/synrc/emq_dashboard", []}},
        {nitro,  ".*", {git, "git://github.com/synrc/nitro",  []}}
       ]}.
