{deps_dir,"deps"}.
{lib_dirs,["deps"]}.
{deps, [{kvs,".*",    {git, "git://github.com/synrc/kvs",   []}},
        {n2o,".*",    {git, "git://github.com/synrc/mqtt",  []}},
        {active, ".*",{git, "git://github.com/synrc/active", "1.9"}},
        {cowboy,".*", {git, "git://github.com/extend/cowboy", "1.0.1"}},
        {nitro,".*",  {git, "git://github.com/synrc/nitro", []}},
        {mad,".*",    {git, "git://github.com/synrc/mad",   []}}
       ]}.
