body      { background: #f7f7f7; font-family: Palatino, "Palatino Linotype",
            "Palatino LT STD", "Book Antiqua", Georgia, serif;, serif; text-align: center; }

header, footer { text-align: center; vertical-align: middle; }

img       { width: 140px; margin: 30px 0 9px 0; padding: 0;
            display: inline-block; vertical-align: middle; text-align: center; }

h1        { display: inline-block; margin: 0 30px -25px; padding: 0;
            font-size: 40px;
            font-weight: 700;
            color: #555;
            vertical-align: middle; }

h2 { text-transform: uppercase; }

textarea:focus { outline: none; }
textarea {  flex: 0 1 100%;
            border: none;
            font-family: inherit;
            color: inherit;
            font-size: 20px;
            line-height: 1.2;
            padding: 10px 20px; }

::-webkit-input-placeholder { color: #dedede; }
::-moz-placeholder { color: #dedede; }
::-ms-input-placeholder { color: #dedede; }

aside {     display: inline-block;
            max-width: 200px;
            vertical-align: top;
            margin-right: 50px; }

main {      text-align: left;
            display: inline-block;
            max-width: 600px;
            vertical-align: top; }

article {   font-size: 20px;
            background: white;
            margin: 10px 0;
            box-shadow: 5px 5px 220px rgba(0, 0, 0, 0.05);
            position: relative;
            padding: 20px 30px; }

legend::after { content: ': '; }
legend {    position: absolute;
            font-weight: bold;
            left: -30px;
            top: -15px;
            padding: 5px 10px;
            background: white;
            box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.05); }

p { padding: 10px 20px; margin: 0; }

label { display: block; font-size: 20px; }

input:focus { outline: none; border-bottom: 1px solid #f6ce8e; }
input { width: 100%; display: block;
        border: none; font-family: inherit;
        color: inherit; font-size: 22px;
        line-height: 1.4;
        border-bottom: 1px solid #e5c48e; }

button:focus { outline: none; background: #f6ce8e; }
button { padding: 15px 20px 10px 20px; margin: 0;
         font-size: 24px;
         color: white;
         background: #e5c48e;
         font-weight: bold;
         font-family: inherit;
         line-height: 1;
         border: none;
         text-transform: uppercase; }

form {  background: white;
        color: #737373;
        box-shadow: 20px 20px 220px rgba(0, 0, 0, 0.2);
        margin: 40px 0 70px;
        padding-top: 10px;
        display: block;
        width: 600px;
        position: relative;
        flex-wrap: wrap;
        justify-content: space-between; }

.blue { background-color:#4990E2; color:white; }
